.env
.gitattributes
.idea
/vendor
/storage
/bootstrap/cache
/node_modules
Homestead.json
Homestead.yaml
/storage/*.key
.vscode
.vagrant
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_ide_helper.php
.phpunit.result.cache
