@charset "UTF-8";

/* МЕНЮ АДМИНКА */

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group,
.list-group.list-group-root > p .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > p > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > p > .list-group-item {
  padding-left: 45px;
}

.item-p {
  margin: 0;
  position: relative;
}

.item-p > span {
  position: absolute;
  right: 0;
  top: 0;
}

#reset-filter {
  background-color: #dd4b39;
  border-color: #d73925;
  color: #fff;
}

/*для загрузки картинок в админке*/

.overlay {
  display: none;
}

/* ================= */

